<html>
  <head>
    <link rel="stylesheet" href="auth.css">
  </head>
  <body>
    <div class="container" id="container">
      <div class="form-container sign-up-container">
        <form action="/resetpassword" method="POST">
          <h1>Update Password</h1><br/><br/>
          <div id="notification">Account Created Please LogIn.</div>
          <!-- <div class="social-container">
            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
          </div>
          <span>or use your account</span> -->
          <input type="email" placeholder="Email" name="email"/>
          <input type="text" placeholder="Reset Token" name="token" />
          <input type="password" placeholder="New Password" name="password" />
          <a href="/auth">Login</a>
          <button>Reset Password</button>
        </form>
        
      </div>
      <div class="form-container sign-in-container">
        <form action="/sendtoken" method="POST">
          <h1>Forgot Password ?</h1>
          <span> use your email for recovery</span>
          <input type="email" placeholder="Email" name="email" />
          <button>Submit</button>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>Forgot Your Password?</h1>
            <p>To keep connected with us please request with your email info</p>
            <button class="ghost" id="signIn">Request Password Reset</button>
          </div>
          <div class="overlay-panel overlay-right">
            <h1>Hello, Friend!</h1>
            <p>Click button below and enter the token to update new password.</p>
            <button class="ghost" id="signUp">Update Password</button>
          </div>
        </div>
      </div>
    </div>
    
   
    <script>

      const signUpButton = document.getElementById('signUp');
      const signInButton = document.getElementById('signIn');
      const container = document.getElementById('container');

      signUpButton.addEventListener('click', () => {
        container.classList.add("right-panel-active");
      });

      signInButton.addEventListener('click', () => {
        container.classList.remove("right-panel-active");
      });

      const errorParam = new URLSearchParams(window.location.search);
      if(errorParam.get('e')){
        document.getElementById('notification').innerHTML = errorParam.get('e');
        document.getElementById('notification').style.display = 'block';
        document.getElementById('notification').style.background = 'orange';
      }
    </script>
  </body>
</html>


